*~
*.a
*.core
*.lo
*.la
*.o
*.so
*.swap
*.pcap
*.p
dpdk/x86_64-native-linuxapp-gcc/
dpdk/build/
dpdk/clean/
example/objs/
example/perf_data/
ys_test/tcp_test/pcap/
lib/bus_if.h
lib/cryptodev_if.c
lib/cryptodev_if.h
lib/device_if.h
lib/filtered_predefined_macros.h
lib/linker_if.c
lib/linker_if.h
lib/machine_include/
lib/vnode_if.h
lib/vnode_if_newproto.h
lib/vnode_if_typedef.h
app/nginx-1.25.2/objs/
app/nginx-1.25.2/Makefile
dpdk/.ci/
dpdk/.travis.yml
.vscode/
.code.yml
.orange-ci.yml
SMEDockerfile
